@{
    ViewData["Title"] = "Home Page";
}

<div>
    @await Component.InvokeAsync("Basic", new { Id = 2149, Name = "Nathan" })
    
    <hr/>
    
    <vc:basic id="2149" Name="Nathan"></vc:basic>
</div>